@keyframes emphasize {
  0% {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
}
@keyframes rerenderOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease-out;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background: none;
  border: none;
  width: 100%;
  font-size: 16px;
  border-radius: 0px;
}
input:focus {
  outline: none;
}
input:placeholder-shown {
  width: 100%;
  text-overflow: ellipsis;
}

#header {
  z-index: 1000;
  height: 20vw;
  width: 100vw;
  position: fixed;
  top: 0;
  display: none;
}

.hiddenElement {
  opacity: 0;
}
.hiddenElement.selected {
  opacity: 1;
}
.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.clickable:hover {
  cursor: pointer;
}

#App {
  text-align: center;
  height: 100dvh;
}

#logoContainer {
  z-index: 1000;
  position: absolute;
  top: 26px;
  left: 24px;
  opacity: 0.25;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logoContainer.full {
  z-index: 2000;
  pointer-events: none;
}
#logoContainer img:nth-child(1), #logoContainer img:nth-child(3) {
  height: 0px;
  opacity: 0;
}
#logoContainer.full:not(.executed) img:nth-child(1), #logoContainer.full:not(.executed) img:nth-child(3) {
  height: 32px;
  opacity: 1;
}
#logoContainer img {
  height: 32px;
}
#logoContainer.full span {
  opacity: 0;
}

#introText, #pageNotFound {
  display: none;
}

.tooltip {
  font-size: 14px;
  opacity: 0.66;
}

#pageNotFoundBackToHome {
  transform: rotate(-90deg);
  height: 20px;
  width: 20px;
}

/* ------------------------------------------------ LOADING ANIMATION ------------------------------------------------ */

.loadingAnimationContainer {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.loadingAnimation {
  height: 56px;
  width: 56px;
  animation-name: rerenderOpacity;
  animation-duration: 2s;
}
.loadingAnimation .fourDotsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: spinning;
  animation-duration: 1s;
  animation-iteration-count: 100;
}
.loadingAnimation .fourDotsContainer .dotsRow {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.loadingAnimation .fourDotsContainer .dotsRow .dotsCell {
  height: 100%;
  width: 33%;
}
.loadingAnimation .fourDotsContainer .dotsRow .dotsCell.dot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingAnimation .fourDotsContainer .dotsRow .dotsCell.dot div {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

/* ------------------------------------------------ MAIN DISPLAY ------------------------------------------------ */

#kanjiDisplay.rerenderOpacity, #wordDisplay.rerenderOpacity {
  opacity: 0;
}
#themeSwitcher {
  z-index: 1000;
  position: absolute;
  top: 26px;
  width: 100%;
  display: flex;
  justify-content: center;
  animation-name: rerenderOpacity;
  animation-duration: 0.4s;
}
#themeSwitcherPill {
  position: relative;
  height: 28px;
  width: 56px;
  border-radius: 14px;
  opacity: 0.1;
}
#themeSwitcherDot {
  position: absolute;
  top: 1px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
#mainDisplay {
  z-index: 800;
  padding-top: 88px;
  position: fixed;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#kanjiDisplay, #wordDisplay {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  animation-name: rerenderOpacity;
  animation-duration: 0.4s;
  opacity: 1;
}
#kanjiDisplayKanji {
  height: 200px;
  min-height: 200px;
  display: flex;
  align-items: flex-end;
  font-size: 180px;
  font-weight: 300;
}
#kanjiDisplayKanjiGhostLeft, #kanjiDisplayKanjiGhostRight {
  position: absolute;
  font-size: 100px;
  top: 140px;
}
#kanjiDisplayKanjiGhostLeft.selected, #kanjiDisplayKanjiGhostRight.selected {
  opacity: 0.25;
}
#kanjiDisplayKanjiGhostLeft {
  font-family: 'Noto Serif JP';
  left: 8.125%;
}
#kanjiDisplayKanjiGhostRight {
  font-family: 'Noto Sans TC';
  right: 8.125%;
}
#kanjiDisplayTranslation, #wordDisplayTranslation {
  height: fit-content;
  font-size: 24px;
  font-weight: 100;
  padding: 0px 20px;
  white-space: nowrap;
}
#kanjiDisplayInfo, #wordDisplayInfo {
  display: flex;
  justify-content: center;
  width: 80%;
  padding-bottom: 20px;
}
#kanjiDisplayInfo div, #wordDisplayInfo div {
  margin: 0px 10px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
#wordDisplayWord, #wordDisplayWordJukujikun {
  width: 100%;
  height: 130px;
  min-height: 130px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wordDisplayWordElements {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 18px;
}
#wordDisplayWordKanjiOnly {
  display: flex;
}
.wordDisplayWordPrefix {
  opacity: 0.25;
  transition: none;
}
.wordDisplayWordElement {
  display: flex;
  flex-direction: column;
}
.wordDisplayWordElement span {
  white-space: nowrap;
}
.wordDisplayWordElementYomi {
  margin: 0px 12px;
  padding-top: 6px;
  font-size: 20px;
  line-height: 20px;
}
.wordDisplayWordElementYomi.jukujikun div {
  font-size: 16px;
  opacity: 0.5;
}

/* ------------------------------------------------ KANAS & KANJIS ------------------------------------------------ */

#kanjiDetails {
  height: calc(100dvh - 592px);
}
#wordDetails {
  height: calc(100dvh - 502px);
}
#kanjiDetails, #wordDetails {
  z-index: 900;
  width: 80%;
  font-size: 20px;
  margin: 0px 16.25% 0 16.25%;
  overflow-y: scroll;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#kanjiDetails.expanded, #wordDetails.expanded {
  height: auto;
}
#wordDetailsSentences {
  margin-top: 20px;
  padding-bottom: 70px;
  position: relative;
}
#wordDetailsSentences.bottomSpace {
  padding-bottom: 120px;
}
#wordDetailsKanjis, #wordDetailsSentences {
  width: 100%;
  text-align: left;
  padding-top: 32px;
}
.kanjiDetailsSection:nth-child(1) {
  padding-top: 32px;
}
.kanjiDetailsSection:nth-child(2) {
  padding-bottom: 70px;
}
.kanjiDetailsSection:nth-child(1) .kanjiDetailsSubSection:nth-child(1) {
  margin-top: 0px;
}
.kanjiDetailsSubSection {
  margin-top: 20px;
  text-align: left;
}
.yomiContainer {
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.5;
  transition: opacity 0s;
}
.yomiContainer.extendable {
  opacity: 1;
}
.yomiHeader {
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yomiHeader span {
  white-space: nowrap;
}
.yomiExpander {
  height: 12px;
  opacity: 0.5;
  transform: rotate(180deg);
}
.yomiExpander.open {
  transform: rotate(0deg);
}
.yomiExamples {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
}
.kanjiReadingsWordElement {
  height: 0px;
  overflow-y: hidden;
}
.kanjiReadingsWordElement.open {
  height: 56px;
}
.wordElement {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.wordElementDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 40%;
}
.wordElementDetails div {
  line-height: 110%;
}
.wordElementTranslation {
  min-height: 19px;
  width: 100%;
  opacity: 0.5;
  white-space: nowrap;
  text-align: right;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.wordElementTranslation, .kanasReadingsHeader {
  font-size: 16px;
}
.kanjiElement {
  height: 100%;
  display: flex;
  padding: 10px 0px;
}
.kanjiElementKanji {
  width: 25%;
  line-height: 100%;
  text-align: left;
  font-size: 32px;
}
.kanjiElementKana {
  width: 75%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: flex-end;
}
.kanjiElementKana span {
  white-space: nowrap;
}
.kanjiElementKana div {
  width: 100%;
  height: 50%;
  line-height: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  text-overflow: ellipsis;
}
.kanjiElementTranslation {
  opacity: 0.5;
}
#wordLanguage {
  display: flex;
  padding-bottom: 24px;
}
#wordLanguage span:nth-child(2) {
  opacity: 0.5;
  margin-left: 6px;
}
#wordPrecisions, #relatedKanji {
  margin-bottom: 24px;
  padding-bottom: 24px;
}
#wordLanguage, #wordPrecisions, #relatedWords {
  font-size: 16px;
  white-space: pre-wrap;
}
#relatedWords .kanasReadingsHeader {
  margin-bottom: 12px;
}
#wordPrecisionsText {
  opacity: 0.66;
}
.relatedWordsSubtitle {
  font-size: 14px;
  opacity: 0.66;
}
.sentencesElement {
  margin-top: 10px;
  padding-right: 20px;
  font-size: 16px;
}
.sentence {
  display: flex;
  justify-content: space-between;
}
.sentencePin {
  height: 16px;
  opacity: 0;
  margin-top: 4px;
  display: none;
}
.sentencePin.highlighted {
  opacity: 0.75 !important;
}
.sentence span {
  white-space: nowrap;
}
.sentencesElementTranslation {
  opacity: 0.5;
}
#wordDetailsPlus {
  z-index: 1000;
  position: absolute;
  top: calc(100dvh - 50px);
  height: calc(100dvh - 280px);
  width: 100%;
  font-size: 16px;
  overflow: hidden;
}
#wordDetailsPlus.expanded {
  top: 280px;
}
#wordDetailsPlusIndicator {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#wordDetailsPlusIndicator img {
  height: 12px;
  position: absolute;
  top: 20px;
  left: calc(50% + 70px);
  transform: rotate(180deg);
}
#wordDetailsPlusIndicator img.open {
  transform: rotate(0deg);
}
#wordDetailsInflexions {
  display: flex;
  flex-direction: column;
}
.wordDetailsInflexionsTense {
  margin: 10px 0px;
}
.wordDetailsInflexionsMode {
  display: flex;
  justify-content: space-between;
}
.wordDetailsInflexionsVerb {
  width: calc(50% - 50px);
}
.wordDetailsInflexionsMode span:nth-child(1) {
  text-align: right;
}
.wordDetailsInflexionsIndicator {
  opacity: 0.5;
}
.wordDetailsInflexionsMode span:nth-child(3) {
  text-align: left;
}
#kosoadoTable {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.kosoadoRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kosoadoRow div {
  width: 20%;
  padding: 5px;
}
.kosoadoIndicator {
  opacity: 0.5;
}

.trainingEndNotifier {
  margin-top: 35dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.5;
  transition: none;
}

/* ------------------------------------------------ TRAINING CONTROLS ------------------------------------------------ */

#selectorAndControls {
  display: flex;
  flex-direction: column;
  height: 100px;
  min-height: 100px;
  margin-bottom: 90px;
  justify-content: space-between;
}
#selector {
  z-index: 1000;
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
#selector span {
  font-size: 20px;
  display: flex;
  align-items: center;
  opacity: 0.25;
}
#selector span.selected {
  opacity: 0.5;
}
#selector img {
  height: 20px;
}
#controls {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto;
  padding: 0px 10px;
}
#controls div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#trainingClose {
  opacity: 0.5;
}
#trainingFilters {
  width: 16px;
  display: flex;
  opacity: 0.5;
}
#trainingFilters div {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 2.5px;
}
#trainingFilters div:nth-child(1) {
  align-items: flex-end;
}
#trainingFilters div:nth-child(2) {
  align-items: flex-start;
}
#trainingFilters span {
  white-space: nowrap;
}
#controls img {
  height: 20px;
}
#trainingNext {
  opacity: 0.5;
  width: 20px;
  position: relative;
}
#trainingNextChoice {
  position: absolute;
  padding-bottom: 2px;
  right: 40px;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}
#trainingNextChoice.open {
  width: 120px;
}
#trainingNextChoice img {
  margin-left: 20px;
}
#trainingNextChoice img:nth-child(1) {
  margin-bottom: 5px;
}
#trainingNextChoice img:nth-child(2) {
  margin-top: 5px;
  transform: scale(1, -1);
}

/* ------------------------------------------------ SIDE PANEL ------------------------------------------------ */

#sidePanel {
  display: flex;
  flex-direction: column;
  z-index: 1100;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  left: 100dvw;
  justify-content: flex-start;
  padding: 6px 24px;
}
#sidePanel.open {
  left: 0vw;
}
#sidePanel.expanded {
  left: 0px;
  padding-top: calc(50dvh - 50px);
  background: none !important;
  transition: left 0.4s ease-out, width 0.4s ease-out, background 0s;
}
#sidePanel.expanded #wordsListSearchContainer {
  padding-left: 0px;
}

/* ------------------------------------------------ SIDE PANEL HEADER ------------------------------------------------ */

#wordsListHeader {
  position: relative;
  z-index: 1200;
  min-height: 120px;
  padding-bottom: 10px;
}
#wordsListTrainerIcon, #wordsListFilterIcon {
  z-index: 1000;
  position: absolute;
  bottom: 62px;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wordsListFilterIcon img {
  transform: rotate(180deg);
}
#wordsListTrainerIcon img.open {
  opacity: 1;
}
#wordsListFilterIcon img.open {
  transform: rotate(0deg);
}
#wordsListTrainerIcon {
  left: 2px;
  display: none;
}
#wordsListFilterIcon {
  right: 8px;
  box-shadow: none;
}
#wordsListFilterIcon img.focused {
  animation-name: emphasize;
  animation-duration: 0.4s;
}
#wordsListTrainerIcon img, #wordsListFilterIcon img {
  height: 16px;
}
#wordsListTrainerIcon.lowOpacity {
  opacity: 0;
  pointer-events: none;
}
#wordsListFilterIcon.highlighted img {
  opacity: 1;
}
#wordsListFilters {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wordsListHeaderRow {
  height: 20px;
  padding: 0vw 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wordsListHeaderRow.lowOpacity {
  opacity: 0.25;
}
#filtersTip {
  z-index: 1600;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
}
#filtersTip.open {
  opacity: 1;
}
#filtersTip div {
  width: 100%;
}
#filtersTip div.expanded {
  padding-right: 5px;
  width: 360px;
}
#wordsListFilters img {
  height: 14px
}
#filtersIndicator {
  font-size: 14px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}
#filtersIndicatorsElement, #filtersIndicatorRow {
  width: 90%;
  overflow-x: hidden;
}
#filtersIndicatorsEmpty {
  opacity: 0.5;
}
#filtersIndicatorRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
#filtersIndicatorRow span {
  opacity: 0.9;
}
#filtersIndicatorRow img {
  height: 8px;
}
.filtersIndicatorsElement {
  padding: 0px 5px;
  display: flex;
  align-items: baseline;
}
.filtersIndicatorsElement span {
  text-overflow: ellipsis;
  text-align: right;
}
#wordsListSearchContainer {
  position: relative;
  padding-left: 32px;
}
#wordsListOpener, #searchSentencePin {
  z-index: 2200;
  height: 20px;
  position: absolute;
  top: 24px;
}
#wordsListOpener {
  left: -64px;
  transform: rotate(-90deg);
}
#searchSentencePin {
  left: -24px;
}
#wordsListOpener.open {
  transform: rotate(90deg);
  left: 10px;
}
#wordsListSearch {
  position: relative;
  padding: 24px 20px 0px 20px;
  height: 56px;
  overflow-y: hidden;
}
#wordsListSearch input {
  padding-right: 20px;
}
#wordsListSearch img {
  height: 16px;
  position: absolute;
  right: 20px;
  opacity: 0.5;
}
#wordsListSearch img.close {
  height: 12px;
}

#wordsListFilterModal, #wordsListTrainingModal {
  opacity: 0;
  position: absolute;
  left: 0px;
  height: 0dvh;
  width: 100%;
  display: flex;
  overflow-y: hidden;
}
#wordsListFilterModal {
  z-index: 1500;
  top: 112px;
  justify-content: flex-end;
}
#wordsListTrainingModal {
  z-index: 1600;
  top: 75px;
  flex-direction: column;
  overflow: hidden;
}
#wordsListFilterModal div {
  height: 100%;
  max-width: 40%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  padding-bottom: 100px;
}
#wordsListFilterModal.open {
  opacity: 1;
  height: calc(100dvh - 175px);
  padding-top: 15px;
}
#wordsListFilterModal.expanded.open {
  height: calc(50dvh - 25px);
}
#wordsListFilterModal.expanded div {
  overflow-y: scroll;
}
#wordsListTrainingModal.open {
  opacity: 1;
  height: calc(100dvh - 155px);
}
#wordsListFilterModal span {
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  opacity: 0.66;
  text-align: right;
}
#wordsListTrainingModalScreenshot {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  opacity: 0.75;
}
#wordsListTrainingModalScreenshot img {
  width: 50%;
  margin: 0px -18%;
}
#wordsListTrainingModalScreenshot img:nth-child(1) {
  transform: rotate(-15deg);
}
#wordsListTrainingModalScreenshot img:nth-child(2) {
  transform: rotate(0deg);
}
#wordsListTrainingModalScreenshot img:nth-child(3) {
  transform: rotate(15deg);
}
#wordsListTrainingModalButtons {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#wordsListTrainingModalButtons span {
  opacity: 0.75;
}
#wordsListFilterModal span.selected, #wordsListTrainingModalButtons span.selected {
  opacity: 1;
  padding-right: 10px;
}
#wordsListFilterModal div span:nth-child(1) {
  padding-bottom: 30px;
}

/* ------------------------------------------------ SIDE PANEL LISTS ------------------------------------------------ */

#searchResultsContainer {
  display: flex;
  flex-direction: column;
}

.listIndicator {
  min-height: 30px;
  width: 100%;
  line-height: 30px;
  overflow-y: hidden;
  font-size: 14px;
  position: relative;
}
.listIndicator span {
  opacity: 0.9;
}
.listIndicator img {
  height: 12px;
  position: absolute;
  right: 20px;
  bottom: 8px;
}
.listIndicator.closed img {
  transform: rotate(180deg);
}
.noElementsFilteredIndicator {
  margin-top: 20%;
  opacity: 0.5;
  font-size: 14px;
  order: 10;
}
.wordsListList {
  height: calc(50dvh - 122px);
  position: relative;
  padding-top: 1dvh;
  padding-bottom: 3dvh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  opacity: 1;
}
.wordsListList.extended {
  height: calc(100dvh - 244px);
}
.wordsListList.closed {
  height: calc(0dvh - 0px);
  overflow-y: hidden;
  padding: 0;
}
.wordsListList.hidden {
  opacity: 0;
}
.listElementContainer.importance2 {
  order: 1 !important;
}
.listElementContainer.importance1 {
  order: 2 !important;
}
#vocabularyList {
  margin-top: 33px;
  padding-top: 8%;
  padding-bottom: 128px;
  -webkit-mask: linear-gradient(to top, rgba(255,255,255,0) 0, rgba(255,255,255,1) 20px, rgba(255,255,255,1) calc(100% - 20px), rgba(255,255,255,0) 100%);
  mask: linear-gradient(to top, rgba(255,255,255,0) 0, rgba(255,255,255,1) 20px, rgba(255,255,255,1) calc(100% - 20px), rgba(255,255,255,0) 100%);
}
.listElementContainer {
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  order: 3;
}
.listElement {
  padding: 0px 20px;
  height: 100%;
}
.wordElementRegularJapanese, .wordElementJukujikun {
  display: flex;
  white-space: nowrap;
  font-size: 16px;
}
.wordElementJukujikun {
  flex-direction: column;
  align-items: flex-start;
}
.wordElementRegularJapaneseMainCharacters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
  line-height: 100%;
}
.wordElementRegularJapaneseMainCharacters:nth-child(1) {
  margin-left: 0px;
}
.wordElementRegularJapaneseMainCharacters:last-child {
  margin-right: 0px;
}
.wordElementJukujikunMainCharacters {
  display: flex;
  line-height: 100%;
}
.wordElementSecondaryCharacters {
  opacity: 0.6;
}

/* ------------------------------------------------ DISPLAY HISTORY ------------------------------------------------ */

#displayHistoryContainer {
  z-index: 2000;
  height: 100dvh;
  width: 8%;
  position: absolute;
  top: 0px;
  left: -8%;
  overflow-y: scroll;
}
#displayHistoryContainer.open {
  left: 0%;
}
#historyIconContainer img {
  display: none;
}
#displayHistory {
  margin-top: 40px;
  padding: 0px 10px 40px 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.historyElement {
  z-index: 2100;
  width: 100%;
  padding: 15px 0px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.historyElementMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 100%;
  overflow-x: hidden;
}
.historyElementLabel {
  font-size: 14px;
  opacity: 0.33;
  margin: 5px 0px;
}
.historyElementTranslation {
  font-size: 14px;
  opacity: 0.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.historyElementMain span {
  white-space: nowrap;
}

/* ------------------------------------------------ PINNED SENTENCE ------------------------------------------------ */

#searchSentenceContainer {
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#searchSentenceContainer.open {
  z-index: 1000;
  opacity: 1;
}
#searchSentenceHeader {
  z-index: 2000;
  width: 100%;
  padding: 0px 27px;
  display: flex;
  justify-content: space-between;
  height: 0px;
}
#searchSentenceHeader.open {
  height: 20px;
  margin-top: 20px;
}
#searchSentenceHeader img {
  height: 10px;
}
#searchSentence {
  height: calc(0dvh - 0px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0px;
  -webkit-mask: linear-gradient(to top, rgba(255,255,255,0) 0, rgba(255,255,255,1) 20px, rgba(255,255,255,1) calc(100% - 20px), rgba(255,255,255,0) 100%);
  mask: linear-gradient(to top, rgba(255,255,255,0) 0, rgba(255,255,255,1) 20px, rgba(255,255,255,1) calc(100% - 20px), rgba(255,255,255,0) 100%);
}
#searchSentence.open {
  height: calc(100dvh - 80px);
  padding: 30px 0px;
}
.sentenceElementContainer {
  display: flex;
  max-width: 100%;
  padding: 0px 20px;
}
.sentenceElementUsedWord {
  white-space: nowrap;
  opacity: 0.5;
  font-size: 34px;
  writing-mode: vertical-lr;
  letter-spacing: 10px;
  margin-top: 10px;
}
.sentenceElementContainer.importance0 .sentenceElementUsedWord {
  opacity: 0.5;
}
.sentenceElementContainer.importance1 .sentenceElementUsedWord {
  opacity: 0.75;
}
.sentenceElementContainer.importance2 .sentenceElementUsedWord {
  opacity: 1;
}
.sentenceElement {
  width: calc(100% - 40.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  
}
.sentenceElementAmbiguity {
  width: 100%;
  padding-top: 5px;
  padding-left: 20px;
}
.sentenceElementInfo {
  height: 54px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
}
.sentenceElementInfo.extended {
  height: fit-content;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sentenceElementInfo .wordElementGrammar {
  display: flex;
  justify-content: flex-end;
}
.sentenceElementInfo .wordElementGrammar .wordElementGrammarTense {
  display: flex;
  justify-content: flex-end;
}

/* ------------------------------------------------ DESKTOP VIEW ------------------------------------------------ */

@media (min-width:961px) {
  #logoContainer {
    top: auto;
    bottom: 20px;
    left: 18px;
    justify-content: center;
  }
  #logoContainer.full {
    height: 100dvh;
    left: 26px;
    bottom: 0px;
    opacity: 0.1;
  }
  #logoContainer img {
    height: 48px !important;
  }
  #logoContainer.full img {
    height: 192px !important;
  }
  #logoContainer img:nth-child(1), #logoContainer img:nth-child(3) {
    opacity: 1;
    width: inherit;
  }
  #logoContainer.full img:nth-child(1), #logoContainer.full img:nth-child(3) {
    opacity: 1;
    width: inherit;
  }
  #themeSwitcher {
    z-index: 1000;
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 0px 14px;
    display: flex;
    justify-content: flex-start;
    animation-name: rerenderOpacity;
    animation-duration: 0.4s;
  }
  #themeSwitcher.down {
    padding: 70px 14px;
  }
  #themeSwitcherPill {
    transform: rotate(90deg);
  }
  #introText, #pageNotFound {
    height: 100dvh;
    width: 100vw;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.75;
    position: absolute;
    display: flex;
    align-items: center;
  }
  #introText.lowOpacity {
    opacity: 0;
  }
  #introText p {
    width: 40%;
    margin-left: 242px;
  }
  #pageNotFound h1 {
    margin-left: 242px;
  }
  #pageNotFound p {
    margin-left: 42px;
  }
  #kanjiDisplayKanji {
    height: 220px;
    min-height: 220px;
    font-size: 200px;
  }
  #kanjiDisplayKanjiGhostLeft {
    left: calc(20% + 43px);
  }
  #kanjiDisplayKanjiGhostRight {
    right: calc(20% - 43px);
  }
  #wordDisplayWord, #wordDisplayWordJukujikun {
    height: 190px;
    min-height: 190px;
    font-size: 100px;
  }
  #kanjiDisplayInfo, #wordDisplayInfo, #kanjiDetails, #wordDetails, #selector, #controls {
    width: 67.5%;
  }
  #wordDisplayInfo {
    flex-direction: row;
  }
  #kanjiDisplayTranslation, #wordDisplayTranslation {
    font-size: 32px
  }
  #kanjiDetails {
    height: calc(100dvh - 532px);
  }
  #wordDetails {
    height: calc(100dvh - 492px);
  }
  #kanjiDetails, #wordDetails {
    font-size: 28px;
    padding-bottom: 0px;
    flex-direction: row;
  }
  #kanjiDetails.expanded, #wordDetails.expanded {
    height: auto;
  }
  #wordDetailsPlus {
    height: calc(100dvh - 320px);
  }
  #wordDetailsPlus.expanded {
    top: 320px;
  }
  #wordDetailsKanjis, #wordDetailsSentences {
    width: 50%;
    overflow: scroll;
  }
  #wordDetailsKanjis {
    padding-right: 20px;
    padding-bottom: 70px;
  }
  #wordDetailsKanjis.bottomSpace {
    padding-bottom: 120px;
  }
  #wordDetailsSentences {
    padding-left: 20px;
    margin-top: 0px;
    text-align: right;
  }
  .kanjiDetailsSection {
    width: 50%;
    overflow-y: scroll;
    padding-bottom: 40px;
  }
  .kanjiDetailsSection:nth-child(2) {
    margin-top: 0px;
    padding-top: 32px;
  }
  .kanjiDetailsSubSection:nth-child(1) {
    margin-top: 0px;
  }
  #kunyomiExamples, #onyomiExamples, #jukujikunExamples {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #kunyomiExamples .yomiContainer, #onyomiExamples .yomiContainer {
    flex-direction: row-reverse;
  }
  #kunyomiExamples .yomiHeader, #onyomiExamples .yomiHeader {
    flex-direction: row-reverse;
  }
  #kunyomiExamples .wordElement, #onyomiExamples .wordElement, #jukujikunExamples .wordElement {
    flex-direction: row-reverse;
  }
  #kunyomiExamples .wordElementTranslation, #onyomiExamples .wordElementTranslation , #jukujikunExamples .wordElementTranslation{
    text-align: left;
  }
  #kunyomiExamples .tooltip, #onyomiExamples .tooltip {
    margin-top: 10px;
  }
  #jukujikunExamples .wordElementJukujikun {
    align-items: flex-end;
  }
  .kanjiDetailsKanjiElements, .yomiContainer, .kanjiDetailsJukujikun {
    width: 92.5%;
  }
  #selectorAndControls {
    margin-bottom: 20px;
  }
  .sentencesElement {
    padding-right: 0px;
    padding-left: 20px;
  }
  .sentencePin {
    display: block;
  }
  .sentencesElement:hover .sentencePin {
    opacity: 0.25;
  }
  #selector {
    justify-content: space-evenly;
    padding: 5px 0px;
  }
  #controls {
    padding: 0dvh 0px;
    justify-content: space-evenly;
  }
  #sidePanel {
    width: 33vw;
    background: none;
    padding: 26px;
  }
  #sidePanel.open {
    left: 67vw;
  }
  #sidePanel.expanded {
    left: 212px;
    width: calc(100vw - 212px);
  }
  #wordsListSearchContainer {
    padding-left: 0px;
  }
  #wordsListFilterModal.open {
    height: calc(100dvh - 195px);
  }
  #wordsListFilterModal.expanded {
    padding-right: 24px;
  }
  #wordsListFilterModal.expanded div {
    flex-grow: 0;
    margin-left: 40px;
  }
  .wordsListList {
    /* 156px is half of the height of the filters+search */
    height: calc(50dvh - 148px);
  }
  .wordsListList.extended {
    height: calc(100dvh - 296px);
  }
  #vocabularyList {
    padding-bottom: 32px;
  }
  #mainDisplay {
    padding-top: 60px;
    padding-left: 86px;
  }
  #mainDisplay.compressed {
    width: 67%;
  }
  #wordsListFilters {
    padding-left: 0;
  }
  #wordsListOpener.open {
    left: -32px;
  }
  #wordsListOpener.offset {
    left: -64px;
  }

  #displayHistoryContainer {
    width: 8%;
  }
  #historyIconContainer img {
    z-index: 1000;
    display: block;
    position: fixed;
    top: 40px;
    left: 24px;
    height: 32px;
    opacity: 0.33;
  }
  .historyElement {
    justify-content: flex-end;
  }
  #trainingNextChoice {
    left: 40px;
    justify-content: flex-start;
  }
  #trainingNextChoice img {
    margin-left: 0px;
    margin-right: 20px;
  }
  #searchSentence.open {
    height: calc(100dvh - 100px);
    padding: 30px 0px;
  }
}

/* ------------------------------------------------ LIGHT THEME ------------------------------------------------ */

#App.light #themeSwitcherPill {
  border: 3px solid rgb(0, 0, 0);
}
#App.light #themeSwitcherDot {
  background-color: rgb(0, 0, 0);
  left: 1px;
}

#App.light {
  color: darkslategrey;
  background-color: white;
}

#App.light input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 1);
}

#App.light input.highlighted {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
#App.light input.highlighted:focus {
  box-shadow: 0px 7.5px 7.5px -2.5px rgba(0, 0, 0, 0.1);
}

#App.light input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

#App.light input.highlighted::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#App.light input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

#App.light .loadingAnimation .fourDotsContainer .dotsRow .dotsCell.dot div {
  background-color: rgba(0, 0, 0, 0.25);
}

#App.light #kanjiDisplayKanji,
#App.light .wordDisplayWordElement span,
#App.light .wordDisplayWordElementYomi span {
  color: gray;
}

#App.light .wordDisplayWordElementYomi.highlighted {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

#App.light .yomiContainer.extendable {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#App.light .sentencesElement .highlighted,
#App.light .kanjiElementKana .highlighted,
#App.light .wordElementRegularJapaneseMainCharacters.highlighted,
#App.light .sentenceElementContainer.importance2 .sentenceElementUsedWord {
  color: rgb(220, 121, 121);
}

#App.light .sentenceElementContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#App.light .sentenceElementContainer.highlighted {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

#App.light .sentenceElementContainer.ambiguous {
  background-color: rgba(255, 183, 197, 0.15);
}

#App.light #relatedKanji, #App.light #wordPrecisions {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#App.light #wordDetailsPlus {
  border-top: 1px solid rgba(0, 0, 0, 0.1);;
  background-color: rgba(255, 255, 255, 1);
}

#App.light .kosoadoRow div.selected {
  background-color: rgba(255, 183, 197, 0.15);
}

#App.light #filtersIndicator {
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}

#App.light #wordsListFilterModal div span {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#App.light #wordsListTrainerIcon {
  background-color: rgba(255, 255, 255, 1);
}

#App.light #wordsListFilterIcon.highlighted {
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.25);
}

#App.light #kanjiDisplayInfo,
#App.light #wordDisplayInfo {
  box-shadow: 0px 7.5px 7.5px -5px rgba(240, 240, 240, 1);
}

#App.light #sidePanel {
  background-color: rgba(255, 255, 255, 1);
}

#App.light #wordsListFilterModal,
#App.light #wordsListTrainingModal {
  background-color: rgba(255, 255, 255, 1);
}

#App.light #wordsListTrainingModalScreenshot img {
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.1);
}

#App.light #wordsListTrainingModalButtons {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#App.light .listIndicator {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

#App.light #kanjisList {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#App.light .listElement.selected {
  border-left: 5px solid rgba(0, 0, 0, 0.15);
}

#App.light .listElementContainer.importance2 {
  background-color: rgba(255, 183, 197, 0.2);
}
#App.light .listElementContainer.importance1 {
  background-color: rgba(255, 183, 197, 0.15);
}

#App.light #selector {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#App.light .listElementContainer {
  border-bottom: 1px solid rgba(255, 183, 197, 0.5);
}

#App.light #displayHistoryContainer {
  background-color: rgba(255, 255, 255, 1);
}
@media (min-aspect-ratio: 1/1) {
  #App.light .historyElement {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  #App.light .historyElement:nth-child(1) {
      border-bottom: none;
  }
  #App.light .historyElement.selected {
      border-right: 5px solid rgba(0, 0, 0, 0.1);
  }
}

/* ------------------------------------------------ DARK THEME ------------------------------------------------ */

#App.dark #themeSwitcherPill {
  border: 3px solid rgb(199, 192, 181);
}
#App.dark #themeSwitcherDot {
  background-color: rgb(199, 192, 181);
  left: 28px;
}

#App.dark {
  color: rgb(199, 192, 181);
  background-color: rgb(36, 37, 37);
}

#App.dark input {
  border-bottom: 1px solid rgba(199, 192, 181, 0.6);
  color: rgba(199, 192, 181, 1);
}

#App.dark input.highlighted {
  border-bottom: 1px solid rgba(199, 192, 181, 0.75);
}

#App.dark input.highlighted:focus {
  box-shadow: 0px 7.5px 7.5px -2.5px rgba(199, 192, 181, 0.1);
}

#App.dark input::placeholder {
  color: rgba(199, 192, 181, 0.5);
}

#App.dark input.highlighted::placeholder {
  color: rgba(199, 192, 181, 0.7);
}

#App.dark input:focus {
  border-bottom: 1px solid rgba(199, 192, 181, 0.9);
}

#App.dark .loadingAnimation .fourDotsContainer .dotsRow .dotsCell.dot div {
  background-color: rgba(199, 192, 181, 0.5);
}

#App.dark #kanjiDisplayKanji,
#App.dark .wordDisplayWordElement span,
#App.dark .wordDisplayWordElementYomi span {
  color: rgba(199, 192, 181, 1)
}

#App.dark .wordDisplayWordElementYomi.highlighted {
  border-top: 1px solid rgba(199, 192, 181, 0.5);
}

#App.dark .yomiContainer.extendable {
  border-bottom: 1px solid rgba(199, 192, 181, 0.2);
}

#App.dark .sentencesElement .highlighted,
#App.dark .kanjiElementKana .highlighted,
#App.dark .wordElementRegularJapaneseMainCharacters.highlighted,
#App.dark .sentenceElementContainer.importance2 .sentenceElementUsedWord {
  color: rgb(255, 150, 150);
}

#App.dark .sentenceElementContainer {
  border-bottom: 1px solid rgba(199, 192, 181, 0.3);
}

#App.dark .sentenceElementContainer.highlighted {
  border-left: 2px solid rgba(199, 192, 181, 0.25);
}

#App.dark .sentenceElementContainer.ambiguous {
  background-color: rgba(199, 192, 181, 0.1);
}

#App.dark #relatedKanji, #App.dark #wordPrecisions {
  border-bottom: 1px solid rgba(199, 192, 181, 0.2);
}

#App.dark #wordDetailsPlus {
  border-top: 1px solid rgba(199, 192, 181, 0.1);;
  background-color: rgba(36, 37, 37, 1);
}

#App.dark .kosoadoRow div.selected {
  background-color: rgba(199, 192, 181, 0.1);
}

#App.dark #filtersIndicator {
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.1);
  background-color: rgba(199, 192, 181, 0.05);
}

#App.dark #wordsListFilterModal div span {
  border-right: 1px solid rgba(199, 192, 181, 0.2);
}

#App.dark #wordsListTrainerIcon {
  background-color: rgba(36, 37, 37, 1);
}

#App.dark #wordsListFilterIcon.highlighted {
  box-shadow: 0px 0px 7.5px rgba(199, 192, 181, 0.2);
}

#App.dark #kanjiDisplayInfo,
#App.dark #wordDisplayInfo {
  box-shadow: 0px 7.5px 7.5px -5px rgba(52, 52, 52, 1);
}

#App.dark #sidePanel {
  background-color: rgba(36, 37, 37, 1);
}

#App.dark #wordsListFilterModal,
#App.dark #wordsListTrainingModal {
  background-color: rgba(36, 37, 37, 1);
}

#App.dark #wordsListTrainingModalScreenshot img {
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.1);
}

#App.dark #wordsListTrainingModalButtons {
  border-top: 1px solid rgba(199, 192, 181, 0.25);
  border-bottom: 1px solid rgba(199, 192, 181, 0.25);
}

#App.dark .listIndicator {
  border-top: 1px solid rgba(199, 192, 181, 0.4);
}

#App.dark #kanjisList {
  border-bottom: 1px solid rgba(199, 192, 181, 0.4);
}

#App.dark .listElement.selected {
  border-left: 5px solid rgba(199, 192, 181, 0.25);
}

#App.dark .listElementContainer.importance2 {
  background-color: rgba(199, 192, 181, 0.1);
}
#App.dark .listElementContainer.importance1 {
  background-color: rgba(199, 192, 181, 0.05);
}

#App.dark #selector {
  border-top: 1px solid rgba(199, 192, 181, 0.1);
  border-bottom: 1px solid rgba(199, 192, 181, 0.1);
}

#App.dark .listElementContainer {
  border-bottom: 1px solid rgba(199, 192, 181, 0.2);
}

#App.dark #displayHistoryContainer {
  background-color: rgba(36, 37, 37, 1)
}
@media (min-aspect-ratio: 1/1) {
  #App.dark .historyElement {
      border-bottom: 1px solid rgba(199, 192, 181, 0.1);
  }
  #App.dark .historyElement:nth-child(1) {
      border-bottom: none;
  }
  #App.dark .historyElement.selected {
      border-right: 5px solid rgba(199, 192, 181, 0.25);
  }
}
