* {
  box-sizing: border-box;
  text-decoration: none;
  color: darkslategrey;
  transition: color 0.2s, background-color 0.2s, opacity 0.2s, top 0.2s, height 0.2s;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  z-index: 1000;
  height: 20vw;
  width: 100vw;
  position: fixed;
  top: 0;
  background-image: url('/public/img/Logo\ Jap.png');
  background-size: cover;
  background-position: bottom;
  display: none;
}

.hiddenElement {
  opacity: 0;
}
.hiddenElement.selected {
  opacity: 1;
}
.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#randomDisplay {
  z-index: 800;
  padding-top: 2vh;
  position: fixed;
  width: 100%;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#japaneseWords {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#kanji {
  font-size: calc(80px + 20vh);
  color: gray;
  line-height: 38vh;
  font-family: source-han-sans-simplified-c;
}
#translation, #kanas {
  font-size: calc(10px + 3vw);
}
#translation {
  font-weight: 100;
  padding: 0px 20px;
  white-space: nowrap;
  overflow-x: scroll;
}
#kanas {
  z-index: 900;
  width: 67.5%;
  margin: 0% 16.25%;
  top: 45vh;
  font-family: source-han-sans-simplified-c;
}
#kanasExamples {
  padding: 0px 20px;
  justify-content: space-between;
  overflow-y: scroll;
  height: calc(21vh - (2vw - 110px));
}
#kunyomiExamples, #onyomiExamples {
  margin-top: 1vh;
  text-align: left;
}
.kanasSingleExample {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kanasSingleExampleKanas, .kanasSingleExampleTranslation {
  margin: 0px 10px;
  text-align: right;
}
.kanasSingleExampleKanas, .kanasSingleExampleTranslation, .kanasReadingsHeader {
  font-size: calc(12px + 0.25vw) !important;
}
.kanasSingleExampleTranslation {
  opacity: 0.5;
}

#selectorAndControls {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-between;
}
#selector {
  z-index: 1000;
  width: 67.5%;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  padding: 1vh 0px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
#selector span {
  font-size: calc(16px + 0.75vh);
  color: lightgray;
}
#selector span:hover {
  cursor: pointer;
}
#selector span.selected {
  color: gray;
}
#controls {
  display: flex;
  justify-content: space-evenly;
}
#controls div {
  height: calc(32px + 1.5vh);
  width: calc(32px + 1.5vh);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#controls div:hover {
  cursor: pointer;
}
#controls div:nth-child(1), #controls div:nth-child(2) {
  opacity: 0.5;
}
#controls div:nth-child(1):hover, #controls div:nth-child(2):hover {
  opacity: 1;
}
#controls img {
  height: calc(16px + 0.75vh);
}

#wordsListContainer {
  z-index: 1100;
  width: 100vw;
  position: fixed;
  top: 95vh;
  justify-content: flex-start;
  background-color: rgba(255, 207, 217, 0.9);
  color: white;
}
#wordsListContainer.open {
  top: 0vh;
}
#wordsListIndicator {
  z-index: 1200;
  min-height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wordsListIndicator img {
  height: calc(8px + 0.375vh);
}
#wordsListIndicator.open {
  transform: rotate(180deg);
}
#wordsListIndicator:hover {
  cursor: pointer;
}
#wordsList {
  overflow-y: scroll;
}
.wordsListElement {
  display: flex;
  padding: 10px 4vw;
  border-bottom: 1px solid rgba(255, 183, 197, 0.9);
}
.wordsListElement:hover {
  cursor: pointer;
}
.wordsListElement.selected {
  background-color: rgba(0, 0, 0, 0.1);
}
#wordsListElement div {
  height: 100%;
}
#wordsListElementKanji {
  width: 25%;
  text-align: left;
  font-size: calc(10px + 2vh);
}
#wordsListElementKana {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
#wordsListElementTranslation {
  opacity: 0.5;
}

@media (min-aspect-ratio: 1/1) {
  #randomDisplay {
    padding-top: 5vh;
    padding-bottom: 9vh;
  }
  #translation, #kanas {
    font-size: calc(20px + 2vh);
  }
  #kanasExamples {
    display: flex;
    height: calc(21vh - (2vw - 80px));
  }
  #kunyomiExamples, #onyomiExamples {
    margin-top: 0px;
  }
  #kunyomiExamples .kanasSingleExampleKanas, #kunyomiExamples .kanasSingleExampleTranslation {
    text-align: left;
  }
  .kanasSingleExample {
    justify-content: flex-start;
  }
  #onyomiExamples {
    text-align: right;
  }
  #onyomiExamples .kanasSingleExample {
    flex-direction: row-reverse;
  }
}