@keyframes emphasize {
  0% {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0px 0px 45px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: darkslategrey;
  transition: all 0.2s ease-out;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  font-size: 16px;
}
input:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

#header {
  z-index: 1000;
  height: 20vw;
  width: 100vw;
  position: fixed;
  top: 0;
  background-image: url('/public/img/Logo\ Jap.png');
  background-size: cover;
  background-position: bottom;
  display: none;
}

.hiddenElement {
  opacity: 0;
}
.hiddenElement.selected {
  opacity: 1;
}
.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* -------------------------------- MAIN DISPLAY -------------------------------- */

#randomDisplay {
  z-index: 800;
  padding-top: 2vh;
  position: fixed;
  width: 100%;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#japaneseWords {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#kanji {
  font-size: calc(80px + 20vh);
  color: gray;
  line-height: 38vh;
  font-family: source-han-sans-simplified-c;
}
#translation {
  font-weight: 100;
  padding: 0px 20px;
  white-space: nowrap;
  overflow-x: scroll;
}
#translation {
  font-size: calc(10px + 3vw);
}

/* -------------------------------- KANAS -------------------------------- */

#kanas {
  z-index: 900;
  height: calc(21vh - (2vw - 50px));
  width: 67.5%;
  font-size: calc(10px + 3vw);
  margin: 2vh 16.25% 0 16.25%;
  overflow-y: scroll;
  font-family: source-han-sans-simplified-c;
}
#kanas.expanded {
  height: calc(35vh - (2vw - 50px));
}
#kanasExamples {
  padding: 0px 20px;
  justify-content: space-between;
  height: fit-content !important;
}
#kunyomiExamples, #onyomiExamples {
  margin-top: 1vh;
  text-align: left;
}
.kanasSingleExample {
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.5;
}
.kanasSingleExample.clickable {
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.kanasSingleExampleExpander {
  height: calc(12px + 0.25vw);
  opacity: 0.5;
}
.kanasSingleExampleExpander.open {
  transform: rotate(180deg);
}
.kanasSingleExampleContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0.75vh;
}
.kanasSingleExampleDetail {
  display: flex;
  flex-direction: column;
  height: 0vh;
  overflow-y: hidden;
}
.kanasSingleExampleDetail.open {
  height: 7vh;
}
.kanasSingleExampleWord, .kanasSingleExampleTranslation {
  margin: 0px 10px;
  display: flex;
}
.kanasSingleExampleWord, .kanasSingleExampleTranslation, .kanasReadingsHeader {
  font-size: calc(12px + 0.25vw) !important;
}
.kanasSingleExampleKanas {
  opacity: 0.5;
}
.kanasSingleExampleTranslation {
  opacity: 0.5;
}
.kanasSingleExampleWord div {
  display: flex;
  flex-wrap: nowrap;
}
.kanasSingleExampleKanji {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kanasSingleExampleKanji span, .kanasSingleExampleWord {
  white-space: nowrap;
}

/* -------------------------------- TRAINING CONTROLS -------------------------------- */

#selectorAndControls {
  display: flex;
  flex-direction: column;
  height: 14vh;
  justify-content: space-between;
}
#selector {
  z-index: 1000;
  width: 67.5%;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  padding: 1vh 0px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
#selector span {
  font-size: calc(16px + 0.75vh);
  display: flex;
  align-items: center;
  opacity: 0.25;
}
#selector span:hover {
  cursor: pointer;
}
#selector span.selected {
  opacity: 0.5;
}
#selector img {
  height: calc(16px + 0.75vh);
}
#controls {
  display: flex;
  justify-content: space-between;
  width: 67.5%;
  margin: 0px auto;
}
#controls div {
  height: calc(32px + 1.5vh);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.5;
}
#controls div:nth-child(2) {
  opacity: 0.25;
}
#controls div:nth-child(2).selected {
  opacity: 0.5;
}
#controls div:nth-child(3) {
  width: calc(16px + 0.75vh);
  display: flex;
  flex-direction: column;
}
#controls div:nth-child(3) span {
  white-space: nowrap;
}
#controls img {
  height: calc(16px + 0.75vh);
}
#controls img:hover {
  cursor: pointer;
}

/* -------------------------------- SIDE PANEL -------------------------------- */

#wordsListContainer {
  display: flex;
  flex-direction: column;
  z-index: 1100;
  width: 100vw;
  position: fixed;
  left: 100vw;
  justify-content: flex-start;
  color: white;
  background-color: rgba(255, 255, 255, 0.9);
}
#wordsListContainer.open {
  left: 0vw;
}
#wordsListIndicator {
  position: relative;
  z-index: 1200;
  height: 120px;
  /* background-color: rgba(255, 237, 242, 0.9); */
  display: flex;
  align-items: center;
  margin: 24px 24px 12px 24px;
  padding: 10px 4vw;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
#wordsListIndicator.focused {
  animation-name: emphasize;
  animation-duration: 0.4s;
}
#wordsListOpener {
  height: calc(16px + 0.75vh);
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  top: 24px;
  left: -64px;
}
#wordsListOpener.open {
  transform: rotate(90deg);
  left: 4vw;
}
#wordsListOpener:hover, #wordsListIndicator span:hover {
  cursor: pointer;
}
#wordsListHFilters {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10vw;
}
#wordsListHFilters div {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wordsListHFilters span {
  opacity: 0.5;
}
#wordsListHFilters span.selected {
  opacity: 1;
}
#wordsListHFilters img {
  height: calc(12px + 0.5vh);
}
#wordsListFiltersErrorMessage {
  position: absolute;
  bottom: 4px;
  left: 0px;
  font-size: 12px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: red;
}
#wordsList {
  height: calc(90vh - 192px);
  margin: 12px 24px 24px 24px;
  padding-top: 3vh;
  padding-bottom: 12vh;
  overflow-y: scroll;
  opacity: 0;
  -webkit-mask: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
  mask: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
}
#wordsList.open {
  opacity: 1;
}
.wordsListElementContainer {
  height: 0px;
  overflow: hidden;
}
.wordsListElementContainer.open {
  height: calc(40px + 2vh);
  border-bottom: 1px solid rgba(255, 183, 197, 0.5);
}
.wordsListElement {
  display: flex;
  padding: 10px 4vw;
}
.wordsListElement:hover {
  cursor: pointer;
}
.wordsListElement.selected {
  background-color: rgba(0, 0, 0, 0.1);
}
#wordsListElement div {
  height: 100%;
}
#wordsListElementKanji {
  width: 25%;
  text-align: left;
  font-size: calc(10px + 2vh);
}
#wordsListElementKana {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
#wordsListElementKana div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
#wordsListElementKana span {
  white-space: nowrap;
}
#wordsListElementTranslation {
  opacity: 0.5;
}

@media (min-aspect-ratio: 1/1) {
  #randomDisplay {
    padding-top: 5vh;
  }
  #translation, #kanas {
    font-size: calc(20px + 2vh);
  }
  #kanas {
    height: calc(21vh - (2vw - 110px));
    font-size: calc(20px + 1vh);
  }
  #kanas.expanded {
    height: calc(50vh - (2vw - 50px));
  }
  #kanasExamples {
    display: flex;
    height: calc(21vh - (2vw - 80px));
  }
  #kunyomiExamples, #onyomiExamples {
    margin-top: 0px;
    width: 50%;
  }
  #onyomiExamples .kanasSingleExampleWord, #onyomiExamples .kanasSingleExampleTranslation {
    flex-direction: row-reverse;
  }
  #onyomiExamples {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #onyomiExamples .kanasSingleExample {
    flex-direction: row-reverse;
  }
  #onyomiExamples .kanasSingleExampleKanji {
    flex-direction: row-reverse;
  }
  .kanasSingleExample {
    width: 80%;
  }
  .kanasSingleExampleDetail.open {
    height: 5vh;
  }
  #wordsListContainer {
    width: 33vw;
  }
  #wordsListContainer.open {
    left: 67vw;
  }
  #wordsList {
    height: calc(100vh - 192px);
    padding-bottom: 3vh;
  }
  #randomDisplay.compressed {
    width: 67%;
  }
  #wordsListHFilters {
    padding-left: 0;
  }
  #wordsListIndicator img.open {
    left: 1vw;
  }
}