@keyframes emphasize {
  0% {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: darkslategrey;
  transition: all 0.2s ease-out;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  font-size: 16px;
}
input:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

#header {
  z-index: 1000;
  height: 20vw;
  width: 100vw;
  position: fixed;
  top: 0;
  display: none;
}

.hiddenElement {
  opacity: 0;
}
.hiddenElement.selected {
  opacity: 1;
}
.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.clickable:hover {
  cursor: pointer;
}

/* -------------------------------- MAIN DISPLAY -------------------------------- */

#randomDisplay {
  z-index: 800;
  padding-top: 2vh;
  position: fixed;
  width: 100%;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#japaneseWords {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#kanji {
  font-size: calc(80px + 20vh);
  color: gray;
  line-height: 38vh;
  font-family: source-han-sans-simplified-c;
}
#translation {
  font-size: 24px;
  font-weight: 100;
  padding: 0px 20px;
  white-space: nowrap;
  overflow-x: scroll;
}

/* -------------------------------- KANAS -------------------------------- */

#kanas {
  z-index: 900;
  height: 24vh;
  width: 67.5%;
  font-size: 20px;
  margin: 2vh 16.25% 0 16.25%;
  overflow-y: scroll;
  font-family: source-han-sans-simplified-c;
}
#kanas.expanded {
  height: 48vh;
}
#kanasExamples {
  padding: 0px 20px;
  justify-content: space-between;
}
#kunyomiExamples, #onyomiExamples {
  margin-top: 1vh;
  text-align: left;
}
.yomiContainer {
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.5;
}
.yomiContainer.extendable {
  opacity: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.yomiHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yomiHeader span, .yomiSingleExampleJapanese {
  white-space: nowrap;
}
.yomiExpander {
  height: 12px;
  opacity: 0.5;
}
.yomiExpander.open {
  transform: rotate(180deg);
}
.yomiExamples {
  display: flex;
  flex-direction: column;
  padding-top: 0.75vh;
}
.yomiSingleExample {
  display: flex;
  justify-content: space-between;
  height: 0px;
  overflow-y: hidden;
}
.yomiSingleExample.open {
  height: 56px;
}
.yomiSingleExampleJapanese, .yomiSingleExampleTranslation {
  display: flex;
}
.yomiSingleExampleJapanese, .yomiSingleExampleTranslation, .kanasReadingsHeader {
  font-size: 16px;
}
.kanasSingleExampleKanas {
  opacity: 0.5;
}
.yomiSingleExampleTranslation {
  opacity: 0.5;
  white-space: normal;
  text-align: right;
}
.yomiSingleExampleJapanese div {
  display: flex;
  flex-wrap: nowrap;
}
.yomiSingleExampleKanjiKana {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
}
.yomiSingleExampleKana {
  opacity: 0.5;
}

/* -------------------------------- TRAINING CONTROLS -------------------------------- */

#selectorAndControls {
  display: flex;
  flex-direction: column;
  height: 14vh;
  justify-content: space-between;
}
#selector {
  z-index: 1000;
  width: 67.5%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 1vh 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
#selector span {
  font-size: 20px;
  display: flex;
  align-items: center;
  opacity: 0.25;
}
#selector span:hover {
  cursor: pointer;
}
#selector span.selected {
  opacity: 0.5;
}
#selector img {
  height: 20px;
}
#controls {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 67.5%;
  margin: 0px auto;
  padding: 0px 10px;
}
#controls div {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.5;
}
#trainingClose {
  opacity: 0.5;
}
#trainingFilters {
  width: 16px;
  display: flex;
  flex-direction: column;
}
#trainingFilters span {
  white-space: nowrap;
}
#controls img {
  height: 20px;
}
#controls div:hover {
  cursor: pointer;
}

/* -------------------------------- SIDE PANEL -------------------------------- */

#wordsListContainer {
  display: flex;
  flex-direction: column;
  z-index: 1100;
  width: 100vw;
  position: fixed;
  left: 100vw;
  justify-content: flex-start;
  color: white;
  background-color: rgba(255, 255, 255, 0.9);
}
#wordsListContainer.open {
  left: 0vw;
}
#wordsListHeader {
  position: relative;
  z-index: 1200;
  height: 120px;
  margin: 24px 24px 12px 24px;
  padding: 10px 4vw;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
#wordsListHeader.focused {
  animation-name: emphasize;
  animation-duration: 0.4s;
}
#wordsListOpener {
  height: 20px;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  top: 24px;
  left: -64px;
}
#wordsListOpener.open {
  transform: rotate(90deg);
  left: 4vw;
}
#wordsListOpener:hover, #wordsListHeader span:hover {
  cursor: pointer;
}
#wordsListFilters {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10vw;
}
#wordsListFilters div {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wordsListFilters span {
  opacity: 0.5;
}
#wordsListFilters span.selected {
  opacity: 1;
}
#wordsListFilters img {
  height: 14px
}
#filtersIndicator {
  font-size: 14px;
}
#filtersIndicator span:hover {
  cursor: default;
}
#launchTrainingButton span, #filtersIndicator span {
  width: 100%;
  text-align: center;
}
#launchTrainingButton {
  width: 100%;
  padding: 10px 0px;
  opacity: 0.5;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
#launchTrainingButton:hover {
  cursor: pointer;
}
#wordsList {
  height: calc(90vh - 246px);
  margin: 12px 24px 24px 24px;
  padding-top: 3vh;
  padding-bottom: 12vh;
  overflow-y: scroll;
  opacity: 0;
  -webkit-mask: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
  mask: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
}
#wordsList.open {
  opacity: 1;
}
#wordsList.expanded {
  height: calc(90vh - 192px);
}
.wordsListElementContainer {
  height: 0px;
  overflow: hidden;
}
.wordsListElementContainer.open {
  height: 54px;
  border-bottom: 1px solid rgba(255, 183, 197, 0.5);
}
.wordsListElement {
  display: flex;
  padding: 10px 4vw;
}
.wordsListElement:hover {
  cursor: pointer;
}
.wordsListElement.selected {
  background-color: rgba(0, 0, 0, 0.1);
}
#wordsListElement div {
  height: 100%;
}
#wordsListElementKanji {
  width: 25%;
  text-align: left;
  font-size: 28px;
}
#wordsListElementKana {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
#wordsListElementKana div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
#wordsListElementKana span {
  white-space: nowrap;
}
#wordsListElementTranslation {
  opacity: 0.5;
}

@media (min-aspect-ratio: 1/1) {
  #randomDisplay {
    padding-top: 5vh;
  }
  #translation {
    font-size: 32px
  }
  #kanas {
    height: 32vh;
    font-size: 28px;
  }
  #kanas.expanded {
    height: calc(46vh - (2vw - 50px));
  }
  #kanasExamples {
    display: flex;
  }
  #kunyomiExamples, #onyomiExamples {
    margin-top: 0px;
    width: 50%;
  }
  #onyomiExamples {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #onyomiExamples .yomiContainer {
    flex-direction: row-reverse;
  }
  #onyomiExamples .yomiHeader {
    flex-direction: row-reverse;
  }
  #onyomiExamples .yomiSingleExample {
    flex-direction: row-reverse;
  }
  #onyomiExamples .yomiSingleExampleTranslation {
    text-align: left;
  }
  .yomiContainer {
    width: 80%;
  }
  #selector {
    justify-content: space-evenly;
    padding: 1vh 0px;
  }
  #controls {
    padding: 0vh 0px;
  }
  #wordsListContainer {
    width: 33vw;
  }
  #wordsListContainer.open {
    left: 67vw;
  }
  #wordsList {
    height: calc(98vh - 246px);
    padding-bottom: 3vh;
  }
  #wordsList.expanded {
    height: calc(100vh - 192px);
  }
  #randomDisplay.compressed {
    width: 67%;
  }
  #wordsListFilters {
    padding-left: 0;
  }
  #wordsListOpener.open {
    left: 1vw;
  }
}